/*-- scss:defaults --*/
$navbar-bg: #005581;
$navbar-fg: #ffffff;
$navbar-hl: #ffffff;
// $navbar-hl: #5abff2;

$footer-bg: #005581;
$footer-fg: #ffffff;


/*-- scss:rules --*/

// Prevent the navbar logo from being a link
.navbar-brand {
    pointer-events: none;
    cursor: default;
}
h2, .h2 {
  border-bottom: none;
}