/*-- scss:defaults --*/
$navbar-bg: #005581;
$navbar-fg: #ffffff;
$navbar-hl: #5abff2;

$footer-bg: #005581;
$footer-fg: #ffffff;
$footer-hl: #5abff2;

/*-- scss:rules --*/
.navbar-brand {
    pointer-events: none;
    cursor: default;
}
h2, .h2 {
  border-bottom: none;
}