/*-- scss:defaults --*/
$navbar-bg: #005581;
$navbar-fg: #ffffff;
// $navbar-hl: #5abff2;

$footer-bg: #005581;
$footer-fg: #ffffff;


/*-- scss:rules --*/

// Prevent the navbar logo from being a link
.navbar-brand {
    pointer-events: none;
    cursor: default;
}
h2, .h2 {
  border-bottom: none;
}
.navbar-nav .nav-link.active {
    border-bottom: 3px solid #ffff;
    /* Add a tiny bit of space so the line isn't touching the letters */
    padding: 1px;
}