/*-- scss:defaults --*/
$navbar-bg: #005581;
$navbar-fg: #ffffff;
$navbar-hl: #ffffff;
// $navbar-hl: #5abff2;

$footer-bg: #005581;
$footer-fg: #ffffff;


/*-- scss:rules --*/

// Prevent the navbar logo from being a link
.navbar-brand {
    pointer-events: none;
    cursor: default;
}
h2, .h2 {
  border-bottom: none;
}

.footer-icon-img {
  height: 22px;
  vertical-align: middle;
  filter: brightness(0) invert(1);  // makes icon white
}

.footer-icon-link {
  padding: 0 8px;
}

.footer-icon-link:hover .footer-icon-img {
  filter: none;  // restore original color on hover or adjust as desired
}
